<% include header %>

<div class="center half"> 
    



</div>

<h3>Works from <%- categorieen[id] %></h3>

  <% for (var i = 0; i < items.length; i++) { %>
    <% if (items[i].categorieen.indexOf(categorieen[id]) !== -1) { %>
      <section>
          <h2>
            <a href=/items/<%- items[i].id %>><%- items[i].titel %></a>
          </h2>
          <img src="/img/<%- items[i].afbeeldings %>" alt="<%- items[i].titel %>">
          <p class="datum"><%- items[i].datum %></p>

          <p class="summ">
            <%- items[i].samenvatting %>
          </p>
      </section>
    <% } %>
  <% } %>
  
  
  <h1><div class="center"><a href="/" class="backbtn">back</a></div></h1>

<% include footer %>