<% include header %>



<section>

    <h2>
      <%- item.categorieen %> -- <%- item.titel %>
    </h2>
    <img src="/img/<%- item.afbeeldingl %>" alt="<%- item.titel %>">

    <p class="datum"><span>Year:</span> <%- item.jaar %></p>

    <p class="datum"><span>Price:</span> <%- item.prijs %></p>
    <p class="datum"><span>Size:</span> <%- item.grootte %></p>
    
    <p class="bid">Bid here</p>
 
<!--
    <p>Categorieën:

      <% for (var i = 0; i < item.categorieen.length; i++) { %>
        <a href="/categorieen/<%- i %>"><%- item.categorieen[i] %></a><% if (i+1< item.categorieen.length){ %>, <% } %>
      <% } %>
    </p>
-->
</section>

<h1><div class="center"><a href="/" class="backbtn">back</a></div></h1>


<% include footer %>
